@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 325px;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0px #d3d3d3;
}

.card img {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.text-box {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}
.text-box h2 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}
.text-box p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
